body {
    background-color: rgb(238, 238, 238);
}
h2 {
    
    text-align: center;
}
.img {
    margin :5px;
    

}


.H {
    background-color: rgb(238, 238, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 0%;

}
